@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow-y: scroll;
}

.active{
    text-decoration: underline;
}

@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideIn 0.6s ease-out forwards;
  }
  